{% extends 'core/base.html' %}
{% block content %}
    <div class="pt-16">
        <div class="bg-white">
            <div class="relative isolate overflow-hidden bg-gradient-to-b from-purple-100/20">
                <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
                    <div class="mx-auto max-w-2xl text-center">
                        {% if about_us_settings.header_1 %}
                            <h1
                                    class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ about_us_settings.header_1 }}</h1>
                        {% endif %}
                        {% if about_us_settings.header_1_subtitle %}
                            <p class="mt-6 text-lg leading-8 text-gray-600">{{ about_us_settings.header_1_subtitle }}</p>
                        {% endif %}
                        <div class="mt-10">
                            {% if site_settings.about_us_picture.url %}
                                <img
                                        src="{{ site_settings.about_us_picture.url }}"
                                        alt="Soumya" class="mx-auto rounded-full w-64 h-64 object-cover shadow-xl">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t border-gray-200 bg-gray-50 py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-4">
                        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                            {% if about_us_settings.number_1_subtitle %}
                                <p class="text-base leading-7 text-gray-600">{{ about_us_settings.number_1_subtitle }}</p>
                            {% endif %}
                            {% if about_us_settings.number_1 %}
                                <p class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                    {{ about_us_settings.number_1 }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                            {% if about_us_settings.number_2_subtitle %}
                                <p class="text-base leading-7 text-gray-600">{{ about_us_settings.number_2_subtitle }}</p>
                            {% endif %}
                            {% if about_us_settings.number_2 %}
                                <p class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                    {{ about_us_settings.number_2 }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                            {% if about_us_settings.number_3_subtitle %}
                                <p class="text-base leading-7 text-gray-600">{{ about_us_settings.number_3_subtitle }}</p>
                            {% endif %}
                            {% if about_us_settings.number_3 %}
                                <p class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                    {{ about_us_settings.number_3 }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                            {% if about_us_settings.number_4_subtitle %}
                                <p class="text-base leading-7 text-gray-600">{{ about_us_settings.number_4_subtitle }}</p>
                            {% endif %}
                            {% if about_us_settings.number_4 %}
                                <p class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                {{ about_us_settings.number_4 }}
                            {% endif %}
                            </p>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl lg:mx-0"><h2
                            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ about_us_settings.header_2 }}</h2>
                        <p class="mt-6 text-lg leading-8 text-gray-600">{{ about_us_settings.header_2_subtitle }}</p>
                    </div>
                    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-4">
                        {% if about_us_settings.card_1_title and about_us_settings.card_1_subtitle %}
                            <div class="group relative rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200 hover:shadow-md transition-shadow">
                                <div class="flex flex-col items-start">
                                    <div class="rounded-lg bg-purple-50 p-3 mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-flower2 h-6 w-6 text-purple-600">
                                            <path d="M12 5a3 3 0 1 1 3 3m-3-3a3 3 0 1 0-3 3m3-3v1M9 8a3 3 0 1 0 3 3M9 8h1m5 0a3 3 0 1 1-3 3m3-3h-1m-2 3v-1"></path>
                                            <circle cx="12" cy="8" r="2"></circle>
                                            <path d="M12 10v12"></path>
                                            <path d="M12 22c4.2 0 7-1.667 7-5-4.2 0-7 1.667-7 5Z"></path>
                                            <path d="M12 22c-4.2 0-7-1.667-7-5 4.2 0 7 1.667 7 5Z"></path>
                                        </svg>
                                    </div>
                                    <div class="font-semibold text-gray-900">{{ about_us_settings.card_1_title }}</div>
                                    <div class="mt-2 text-gray-600">{{ about_us_settings.card_1_subtitle }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if about_us_settings.card_2_title and about_us_settings.card_2_subtitle %}
                            <div class="group relative rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200 hover:shadow-md transition-shadow">
                                <div class="flex flex-col items-start">
                                    <div class="rounded-lg bg-purple-50 p-3 mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-sparkles h-6 w-6 text-purple-600">
                                            <path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"></path>
                                            <path d="M5 3v4"></path>
                                            <path d="M19 17v4"></path>
                                            <path d="M3 5h4"></path>
                                            <path d="M17 19h4"></path>
                                        </svg>
                                    </div>
                                    <div class="font-semibold text-gray-900">{{ about_us_settings.card_2_title }}</div>
                                    <div class="mt-2 text-gray-600">{{ about_us_settings.card_2_subtitle }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if about_us_settings.card_3_title and about_us_settings.card_3_subtitle %}
                            <div class="group relative rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200 hover:shadow-md transition-shadow">
                                <div class="flex flex-col items-start">
                                    <div class="rounded-lg bg-purple-50 p-3 mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-heart h-6 w-6 text-purple-600">
                                            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                                        </svg>
                                    </div>
                                    <div class="font-semibold text-gray-900">{{ about_us_settings.card_3_title }}</div>
                                    <div class="mt-2 text-gray-600">{{ about_us_settings.card_3_subtitle }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if about_us_settings.card_4_title and about_us_settings.card_4_subtitle %}
                            <div class="group relative rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200 hover:shadow-md transition-shadow">
                                <div class="flex flex-col items-start">
                                    <div class="rounded-lg bg-purple-50 p-3 mb-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-briefcase h-6 w-6 text-purple-600">
                                            <rect width="20" height="14" x="2" y="7" rx="2" ry="2"></rect>
                                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                        </svg>
                                    </div>
                                    <div class="font-semibold text-gray-900">{{ about_us_settings.card_4_title }}</div>
                                    <div class="mt-2 text-gray-600">{{ about_us_settings.card_4_subtitle }}</div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="bg-white py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:text-center"><h2
                                class="text-base font-semibold leading-7 text-purple-600">My Philosophy</h2>
                            {% if about_us_settings.header_3 %}
                                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ about_us_settings.header_3 }}</p>
                            {% endif %}
                            {% if about_us_settings.header_3_subtitle %}
                                <p class="mt-6 text-lg leading-8 text-gray-600">{{ about_us_settings.header_3_subtitle }}</p>
                            {% endif %}
                        </div>
                        {% if about_us_settings.list_item_1 and about_us_settings.list_item_1_subtitle and about_us_settings.list_item_2 and about_us_settings.list_item_2_subtitle and about_us_settings.list_item_3 and about_us_settings.list_item_3_subtitle and about_us_settings.list_item_4 and about_us_settings.list_item_4_subtitle %}

                            <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
                                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4">
                                    {% if about_us_settings.list_item_1 and about_us_settings.list_item_1_subtitle %}
                                        <div class="flex flex-col">
                                            <div class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="lucide lucide-star h-5 w-5 flex-none text-purple-600">
                                                    <polygon
                                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                                </svg>
                                                {{ about_us_settings.list_item_1 }}
                                            </div>
                                            <div class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                                <p
                                                        class="flex-auto">{{ about_us_settings.list_item_1_subtitle }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if about_us_settings.list_item_2 and about_us_settings.list_item_2_subtitle %}
                                        <div class="flex flex-col">
                                            <div class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="lucide lucide-heart h-5 w-5 flex-none text-purple-600">
                                                    <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
                                                </svg>
                                                {{ about_us_settings.list_item_2 }}
                                            </div>
                                            <div class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                                <p
                                                        class="flex-auto">{{ about_us_settings.list_item_2_subtitle }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if about_us_settings.list_item_3 and about_us_settings.list_item_3_subtitle %}
                                        <div class="flex flex-col">
                                            <div class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="lucide lucide-compass h-5 w-5 flex-none text-purple-600">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <polygon
                                                            points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
                                                </svg>
                                                {{ about_us_settings.list_item_3 }}
                                            </div>
                                            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                                <p
                                                        class="flex-auto">{{ about_us_settings.list_item_3_subtitle }}</p>
                                            </dd>
                                        </div>
                                    {% endif %}
                                    {% if about_us_settings.list_item_4 and about_us_settings.list_item_4_subtitle %}
                                        <div class="flex flex-col">
                                            <div class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="2"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="lucide lucide-sparkles h-5 w-5 flex-none text-purple-600">
                                                    <path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"></path>
                                                    <path d="M5 3v4"></path>
                                                    <path d="M19 17v4"></path>
                                                    <path d="M3 5h4"></path>
                                                    <path d="M17 19h4"></path>
                                                </svg>
                                                {{ about_us_settings.list_item_4 }}
                                            </div>
                                            <div class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                                                <p
                                                        class="flex-auto">{{ about_us_settings.list_item_4_subtitle }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </dl>
                            </div>
                            </div>
                        {% endif %}
                </div>

                <div class="bg-gray-50 py-24 sm:py-32">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:text-center"><h2
                                class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ about_us_settings.header_4 }}</h2>
                            <p class="mt-6 text-lg leading-8 text-gray-600">{{ about_us_settings.header_4_subtitle }}</p>
                        </div>
                        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:max-w-none">
                            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
                                {% if about_us_settings.card_5_title and about_us_settings.card_5_subtitle and about_us_settings.card_5_date %}
                                    <div class="rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200"><h3
                                            class="text-lg font-semibold leading-8 text-gray-900">{{ about_us_settings.card_5_title }}</h3>
                                        <p class="mt-4 text-sm leading-7 text-gray-600">{{ about_us_settings.card_5_subtitle }}</p>
                                        <p class="mt-1 text-sm text-purple-600">{{ about_us_settings.card_5_date }}</p>
                                    </div>
                                {% endif %}
                                {% if about_us_settings.card_6_title and about_us_settings.card_6_subtitle and about_us_settings.card_6_date %}
                                    <div class="rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200"><h3
                                            class="text-lg font-semibold leading-8 text-gray-900">{{ about_us_settings.card_6_title }}</h3>
                                        <p class="mt-4 text-sm leading-7 text-gray-600">{{ about_us_settings.card_6_subtitle }}</p>
                                        <p class="mt-1 text-sm text-purple-600">{{ about_us_settings.card_6_date }}</p>
                                    </div>
                                {% endif %}
                                {% if about_us_settings.card_7_title and about_us_settings.card_7_subtitle and about_us_settings.card_7_date %}
                                    <div class="rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200"><h3
                                            class="text-lg font-semibold leading-8 text-gray-900">{{ about_us_settings.card_7_title }}</h3>
                                        <p class="mt-4 text-sm leading-7 text-gray-600">{{ about_us_settings.card_7_subtitle }}</p>
                                        <p class="mt-1 text-sm text-purple-600">{{ about_us_settings.card_7_date }}</p>
                                    </div>
                                {% endif %}
                                {% if about_us_settings.card_8_title and about_us_settings.card_8_subtitle and about_us_settings.card_8_date %}
                                    <div class="rounded-2xl bg-white p-8 shadow-sm ring-1 ring-gray-200">
                                        <h3 class="text-lg font-semibold leading-8 text-gray-900">{{ about_us_settings.card_8_title }}</h3>
                                        <p class="mt-4 text-sm leading-7 text-gray-600">{{ about_us_settings.card_8_subtitle }}</p>
                                        <p class="mt-1 text-sm text-purple-600">{{ about_us_settings.card_8_date }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}