{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="flex flex-col gap-12 py-8">
        <div class="grid grid-cols-3 md:grid-cols-6 xl:grid-cols-12 gap-8">
            {% for sign in horoscope_signs %}
                <a href="{% url 'core:horoscope_detail' sign.name %}"
                   class="horoscopeListItem">
                    <svg class="w-8 h-8">
                        <use href="{% static 'icons/sprite.svg' %}#menu"></use>
                    </svg>
                    <p class="text-lg font-bold font-cormorant">{{ sign.name }}</p>
                </a>
            {% endfor %}
        </div>

        <div class="flex items-center justify-center gap-4">
            <p class="chooseHoroscopeButton active"
               data-show-horoscope-type="weekly">
                Weekly horoscopes</p>
            <p class="chooseHoroscopeButton"
               data-show-horoscope-type="monthly">
                Monthly
                horoscopes</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for sign in horoscope_signs %}
                <a href="{% url 'core:horoscope_detail' sign.name %}"
                   class="hopOnHover flex flex-col items-center justify-center p-4 bg-rose-950/65  rounded-lg gap-4 transition-all "
                   data-horoscope-type="weekly">
                    <div class="flex flex-col items-center justify-center gap-2">
                        <p class="text-2xl font-bold font-cormorant text-softGold">{{ sign.name }}</p>
                        <span class="text-xs font-cormorant text-rose-500">Weekly horoscope</span>
                    </div>
                    <p class="font-open-sans text-center  text-white/80">
                        {{ sign.weekly_horoscopes.0.content|truncatewords:7|default:"No weekly horoscope available" }}
                    </p>

                    <div class="flex items-center justify-between gap-2 px-4 py-2 border border-softGold text-softGold rounded-lg transition-all duration-300 hover:text-rose-500">
                        <span class="">READ MORE</span>
                        <svg class="w-4 h-4">
                            <use href="{% static 'icons/sprite.svg' %}#arrow-right"></use>
                        </svg>
                    </div>
                </a>

                <a href="{% url 'core:horoscope_detail' sign.name %}"
                   class="!hidden hopOnHover flex flex-col items-center justify-center p-4 bg-rose-950/65  rounded-lg gap-4 transition-all "
                   data-horoscope-type="monthly">
                    <div class="flex flex-col items-center justify-center gap-2">
                        <p class="text-2xl font-bold font-cormorant text-softGold">{{ sign.name }}</p>
                        <span class="text-xs font-cormorant text-rose-500">Monthly horoscope</span>
                    </div>
                    <p class="font-open-sans text-center  text-white/80">
                        {{ sign.monthly_horoscopes.0.content|truncatewords:7|default:"No monthly horoscope available" }}
                    </p>

                    <div class="flex items-center justify-between gap-2 px-4 py-2 border border-softGold text-softGold rounded-lg transition-all duration-300 hover:text-rose-500">
                        <span class="">READ MORE</span>
                        <svg class="w-4 h-4">
                            <use href="{% static 'icons/sprite.svg' %}#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            {% endfor %}
        </div>

        {% include 'core/includes/testimonials_carousel.html' with testimonials=testimonials %}


    </div>
{% endblock content %}