{% extends 'core/base.html' %}
{% block content %}
    <div class="pt-16">
        <div class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl text-center"><h2
                        class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Book Your Reading</h2>
                    <p class="mt-2 text-lg leading-8 text-gray-600">Choose from our range of personalized astrological
                        readings.</p></div>
                <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">

                    {% for reading in readings %}
                        <div class="flex flex-col rounded-3xl bg-white overflow-hidden ring-1 ring-gray-200 hover:shadow-lg transition-shadow duration-300">
                            <div class="aspect-[4/3] relative"><img
                                    src="{{ reading.image.url }}"
                                    alt="Birth Chart Reading" class="absolute inset-0 h-full w-full object-cover"></div>
                            <div class="flex-1 p-8">
                                <div class="flex items-center justify-between gap-x-4"><h3
                                        class="text-lg font-semibold leading-8 text-gray-900">{{ reading.name }}</h3>
                                </div>
                                <p class="mt-4 text-sm leading-6 text-gray-600">{{ reading.description }}</p></div>
                            <div class="p-8 pt-0">
                                {% for reading_type in reading.variants.all %}
                                    <div class="flex items-center gap-x-4"><h4
                                            class="flex-none text-sm font-semibold leading-6 text-purple-600">
                                        ${{ reading_type.sale_price }}</h4>
                                        <div class="h-px flex-auto bg-gray-100"></div>
                                        <div class="flex-none text-sm text-gray-500">
                                            {% if reading_type.type == 'CALL' %}
                                                {{ reading_type.call_duration }} minutes call
                                            {% else %}
                                                {{ reading_type.get_type_display }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <a href="{% url 'core:checkout' reading_id=reading.id %}"
                                   class="mt-6 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 text-white bg-purple-600 hover:bg-purple-500">Book
                                    Now</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'core/includes/testimonials.html' %}

    </div>
{% endblock content %}