{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="relative flex flex-1 flex-col overflow-hidden px-4 py-12sm:px-6 lg:px-8 text-white">
        <div class="relative flex flex-1 flex-col items-center justify-center pt-12 pb-16">

            <div class="max-w-2xl text-center">
                <h1 class="text-3xl font-extrabold sm:text-4xl">
                    Thank you!</h1>
                <div class="mt-6 text-base/7 text-white">
                    <p class=" font-bold">{{ order.item.reading_type.reading.name }}
                        - {{ order.item.reading_type.get_type_display }}</p>
                    {% if order.item.reading_type.type == 'CALL' %}
                        <p class="text-base/7">We’ve received your request for a call with a psychic. Please check your
                            e-mail to reserve a time slot.</p>
                    {% else %}
                        <p class="text-base/7">We’ve received your request for a reading. We’ll send you your reading in
                            7 days.</p>
                    {% endif %}
                </div>
                <a class="inline-flex justify-center rounded-lg  font-semibold py-2.5 px-4  mt-6"
                   href="/"><span>Done</span></a></div>
        </div>
        <footer class="relative shrink-0">
            <div class="relative z-10 flex flex-none items-start justify-center">
                <svg class="w-8 h-8 flex-none text-white">
                    <use href="{% static 'icons/sprite.svg' %}#checkMail"></use>
                </svg>
                <p class="ml-6 max-w-lg flex-auto "><strong
                        class="font-semibold">Don’t see it yet?</strong> It might be in your spam
                    folder (ugh) – if so, make sure to click “not spam” so our updates actually make it to your
                    inbox.</p></div>
        </footer>
    </div>

{% endblock %}
