{% extends 'core/base.html' %}
{% block content %}
    <div class="w-full py-8">
        <div class="grid grid-cols-1 xl:grid-cols-6 gap-8">
            <div class="flex flex-col gap-8 col-span-5">
                {% for post in blog_posts %}
                    <article
                            class="flex flex-col items-start gap-4 md:flex-row lg:gap-6">
                        <a href="{{ post.get_absolute_url }}"
                           class="group shrink-0 relative block h-56 w-full self-start overflow-hidden rounded-lg  shadow-lg md:h-24 md:w-24 lg:h-40 lg:w-40">
                            <img src="https://images.unsplash.com/photo-1476362555312-ab9e108a0b7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                 loading="lazy" alt=""
                                 class="group-hover:scale-110 absolute inset-0 h-full w-full object-cover object-center transition duration-200"/>
                        </a>

                        <div class="flex flex-col gap-2 h-full">
                            <div>
                                <p class="text-textColor/60 text-xs">{{ post.created_at|date:"F d, Y" }}</p>

                                <h2 class="font-bold">
                                    <a href="{{ post.get_absolute_url }}"
                                       class="transition duration-300 hover:text-primary">{{ post.title }}</a>
                                </h2>
                            </div>

                            <p class="">
                                {{ post.content|safe|striptags|truncatewords:20 }}</p>

                            <div class="mt-auto">
                                <a href="{{ post.get_absolute_url }}"
                                   class="font-semibold  transition duration-300 text-accent hover:text-accent/70">Read
                                    more</a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <div class="sticky top-8 self-start flex flex-col items-center justify-center border border-accent  rounded-lg text-center p-5 shadow-2xl shadow-accent/30">
                <h2 class=" font-bold mb-2 text-center text-accent border-b-4 border-accent
            ">Filter by</h2>
                {% for horoscope in horoscope_signs %}
                    <a href="#"
                       class="w-full text-center py-2 transition-all duration-300 hover:text-accent">{{ horoscope.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}