{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock head %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/glide.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind_output.css' %}">
    <title>{{ page_tags.title }}</title>
</head>
<body class="bg-backgroundColor ">


<div class="min-h-screen bg-gray-50">
    {% include 'core/includes/header.html' %}

    {% block content %}
    {% endblock content %}
    {% include 'core/includes/footer.html' %}
</div>


<script src="{% static 'js/core_v1.bundle.js' %}"></script>
</body>
</html>