{% load static %}
<header class="w-full relative" id="header">
    <div class="container mx-auto flex justify-between items-center p-2">
        <a class="font-cormorant" href="{% url 'core:home' %}">
            <p class="text-4xl lg:text-6xl font-bold text-rose-500">Astral Readings</p>
            <p class="text-2xl italic text-goldAccent/80">By Soumya</p>
        </a>
        <nav class="hidden md:flex items-center gap-8" aria-label="Desktop navigation bar">
            <a href="{% url 'core:home' %}" class="header__link">Horoscope</a>
            <a href="{% url 'core:readings' %}" class="header__link">Readings</a>
            <a href="{% url 'blog:home' %}" class="header__link">Blog</a>
            <a href="{% url 'core:about' %}" class="header__link">About</a>
            <a href="{% url 'core:faq' %}" class="header__link">FAQ</a>
        </nav>
        <svg class="w-8 h-8 md:hidden text-rose-500" id="mobileMenuIcon">
            <use href="{% static 'icons/sprite.svg' %}#menu"></use>
        </svg>

        <svg class="w-8 h-8 hidden md:hidden text-rose-500" id="mobileMenuCloseIcon">
            <use href="{% static 'icons/sprite.svg' %}#close"></use>
        </svg>
    </div>

    <nav
            class="flex flex-col justify-center gap-4 items-center opacity-0 max-h-0 overflow-hidden transition-all duration-150 transform scale-y-0"
            id="mobileMenu"
            aria-label="Mobile navigation bar"
    >
        <a href="{% url 'core:home' %}" class="header__link">Horoscope</a>
        <a href="{% url 'core:readings' %}" class="header__link">Readings</a>
        <a href="{% url 'blog:home' %}" class="header__link">Blog</a>
        <a href="{% url 'core:about' %}" class="header__link">About</a>
        <a href="{% url 'core:faq' %}" class="header__link">FAQ</a>
    </nav>
</header>